@media only screen and (max-device-width: 480px){
        
        /* GENERAL ATTRIBUTES */
        body
        {
            background-color:antiquewhite;
            font-family:"Verdana", Geneva, sans-serif;
        }
        ul
        {
            list-style-type:none;
        }
        
        h2
        {
            font-size:400%;
            margin-left:80px;
            margin-right:100px;
            border-bottom:4px solid black;
        }
        img
        {
            margin-top:50px;
            box-shadow: 10px 10px 50px 10px #001E28;
        }
        
        /* FORM */
		form
		{
		    font-size:300%;
		}
		select
		{
		    color:white;
		    background-color:black;
		    font-size:50%;
		    margin:20px;
		}
		#tours
		{
		    width:30%;
		}
		.drop
		{
		    font-size:120%;
		}
        
        /* TABLE */
        table
        {
            border-collapse:collapse;
            font-size:300%;
            margin:30px;
        }
        th
        {
            background-color:black;
            color:white;
            padding:20px;
            border-radius: 20px;
			-moz-border-radius: 20px;
			-webkit-border-radius: 20px;
        }
        tbody td
        {
            padding:20px;
        }
        tfoot td
        {
            background-color:black;
            color:white;
            padding:20px;
            border-radius: 20px;
			-moz-border-radius: 20px;
			-webkit-border-radius: 20px;
        }
        tr
        {
            background-color:#EDF3F5;
        }
        tr:nth-child(even)
        {
            background-color:lightblue;
        }
		
		/* PHOTOS */
		.pictextcenter
		{
		    font-family:"Times New Roman", Times, serif;
		    font-style:italic;
		    font-size:12px;
		    text-align:center;
		}
		.pictextleft
		{
		    font-family:"Times New Roman", Times, serif;
		    font-style:italic;
		    font-size:12px;
		    text-align:left;
		}
		.pictextright
		{
		    font-family:"Times New Roman", Times, serif;
		    font-style:italic;
		    font-size:12px;
		    text-align:right;
		}
		.imgcenter
		{
		    margin-left:40px;
		    height:90%;
		    width:90%;
		}
		.imgleft
		{
		    margin-left:40px;
		}
		.imgright
		{
		    margin-left:370px;
		    margin-top:80px;
		}
		#leftphotos p
		{
		    font-size:200%;
		    margin-left:580px;
		    margin-top:-350px;
		}
		#rightphotos p
		{
		    font-size:200%;
		    margin-right:600px;
		    margin-top:-350px;
		    margin-bottom:100px;
		}
		
        /* HEADER */
        header
        {
            margin-top:-70px;
            margin-bottom:80px;
            font-size:320%;
            text-align:center;
        }
		
		/* NAVIGATIONLIST */
		nav
		{
		    margin-top:-60px;
		}
		nav li
		{
		    text-align:center;
		    border:5px solid black;
		    background-color:#FA6F0C;
		    font-size:550%;
		    font-weight:bold;
		    padding:50px;
		    margin-right:70px;
		    margin-left:30px;
		    margin-bottom:1px;
			border-radius: 20px;
			-moz-border-radius: 20px;
			-webkit-border-radius: 20px;
		}
		nav li a
		{
		    text-decoration:none;
            text-transform: capitalize;
            color:black;
		}
		
		/* MAIN */
		main
		{
		    clear:both;
		}
		
		/* ARTICLE */
		article
		{
		    margin:20px;
		    border:5px solid black;
		    border-radius: 20px;
			-moz-border-radius: 20px;
			-webkit-border-radius: 20px;
			background-color:#FA6F0C;
		}
		article h3, h4
		{
		    padding-left:40px;
		}
		article p
		{
		    font-size:15px;
		    padding-bottom:40px;
		    margin-left:20px;
            margin-right:20px;
            border-bottom:4px solid black;
		}
		
		/* FOOTER */
		footer
		{
		    text-align:center;
		}
}